<!DOCTYPE html>
<body>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}">
  <title>About Us!</title>
</head>

<body>

  <h1 id="title">About Us</h1> 
  <h1 id="subtitle">Developers</h1>

  <table>
    <tr>
      <td class="column">
        <img src="https://media.discordapp.net/attachments/602246836400685086/793293005024002078/20201228_204303.jpg?width=408&height=544" alt="Snow">
      </td>   
      <td class="column">
        <img src="https://cdn.discordapp.com/attachments/792813824235405322/793557965932199957/Aathii.jpg" alt="Snow">
      </td>
      <td class="column">
        <img src="https://media.discordapp.net/attachments/792813824235405322/793290768331702282/20201228_203350.jpg?width=408&height=544" alt="Snow">
      </td>
      <td class="column">        
        <img src="https://media.discordapp.net/attachments/792813824235405322/793298413881393202/20200718_164717.jpg?width=408&height=544" alt="Snow">
      </td>
    </tr>
    <tr>
      <td><h1>Kavin</h1></td>
      <td><h1>Aathii</h1></td>
      <td><h1>Josh</h1></td>
      <td><h1>Aiden</h1></td>
    </tr>
    <tr>
      <td class="Text">
        <p>Hi, I'm Kavin, a full stack web developer and I’m studying Computer Science and Mathematics at the University of Waterloo.</p>
      </div>
      <td class="Text">
        <p>My name is Aathii! I'm fluent in HTML, Python, and Java. Next year im hoping to attend the University of Waterloo for computer science!</p>
      </div>
      </td>
      <td class="Text">
        <p>Hello, my name is Joshua.D, I attend Waterloo Collegiate Institute. I love mountain biking, hockey, chess and programming of course.</p>
      </td>
      <td class="Text">
        <p>Hi, I'm Aiden, a grade 12 student from Waterloo, ON. Physics and CS are some of my favourite subjects. My website is aidensortof.codes.</p>
      </td>
    </tr>
  </table>

</body>
</html>