<!DOCTYPE html>
<html>
<head>
	<title>Broccoli distro</title>
	<link rel="stylesheet" href="{{url_for('static', filename='game style.css')}}">
</head>
<body>
	<h1 id="Title">Broccoli distro</h1>
	<p id="notice1">Click the Button Below to start our game</p>
	<p id="notice2">Note, this will open a seperate window on your computer</p>

	{% if mode == 0 %}
	<form method="POST" class="play">
		<input class="BUTTONPLAY" type="Submit" value="PLAY" enabled>
	</form>

	<form method="POST" class="send">
		<table>
			<tr>
				<td>SCORE</td>
				<td><input type="text" name="SCORE" class="info" disabled></td>
			</tr>
			<tr>
				<td>USERNAME</td>
				<td><input type="text" name="USERNAME" class="info" disabled></td>
			</tr>
		</table>
		<input type="submit" class="BUTTONSEND" value="SUBMIT" disabled>
	</form>
	{% else %}
	<form method="POST" class="play">
		<input class="BUTTONPLAY" type="Submit" value="PLAY" disabled>
	</form>

	<form method="POST" class="send">
		<table>
			<tr>
				<td>SCORE</td>
				<td><input type="text" name="SCORE" class="info" value="{{session['score']}}"></td>
			</tr>
			<tr>
				<td>USERNAME</td>
				<td><input type="text" name="USERNAME" class="info"></td>
			</tr>
		</table>
		<input type="Submit" class="BUTTONSEND" value="SUBMIT">
	</form>
	{% endif %}
</body>
</html>