<!DOCTYPE html>
<html>
<head>
	<title>Broccoli distro</title>
	<link rel="stylesheet" href="{{url_for('static', filename='game style.css')}}">
</head>
<body>
	<h1 id="Title">Broccoli distro</h1>
	<p id="notice1">Click the Button Below to start our game</p>
	<p id="notice2">Note, this will open a seperate window on your computer</p>

	<p class="rules">In Broccoli Distro, your goal is to feed the in-need communities around the world.</p>
	<p class="rules">To gain food click on the broccoli image. With food, you can feed the communities around the world and buy power-ups that are related to real-world solutions to food insecurities.</p> 
	<p class="rules">Watch out for in-game events including droughts, economic downturns, famine, and crop failure which are some of the leading causes of food insecurities. </p>
	<p class="rules">Keep the citizens of the world alive as long as possible to be awarded the most amount of points.</p>
	<p class="rules">Make sure to click the info buttons to learn more about food insecurities and in-game mechanics.</p>

	{% if mode == 0 %}
	<form method="POST" class="play">
		<input class="BUTTONPLAY" type="Submit" value="PLAY" enabled>
	</form>

	<form method="POST" class="send">
		<table>
			<tr>
				<td class="small">SCORE</td>
				<td><input type="text" name="SCORE" class="info" disabled></td>
			</tr>
			<tr>
				<td class="small">USERNAME</td>
				<td><input type="text" name="USERNAME" class="info" disabled></td>
			</tr>
		</table>
		<input type="submit" class="BUTTONSEND" value="SUBMIT" disabled>
	</form>
	{% else %}
	<form method="POST" class="play">
		<input class="BUTTONPLAY" type="Submit" value="PLAY" disabled>
	</form>

	<form method="POST" class="send">
		<table>
			<tr>
				<td class="small">SCORE</td>
				<td><input type="text" name="SCORE" class="info" value="{{session['score']}}"></td>
			</tr>
			<tr>
				<td class="small">USERNAME</td>
				<td><input type="text" name="USERNAME" class="info"></td>
			</tr>
		</table>
		<input type="Submit" class="BUTTONSEND" value="SUBMIT">
	</form>
	{% endif %}
</body>
</html>